<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" routerLink="home" (click)="open=false">Traffic tracker</a>
  <button class="navbar-toggler" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto" [ngClass]="{ 'show': open }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home" (click)="open=false">Calendar</a>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link">Flights</a>
        <ul ngbDropdownMenu class="nav-menu-dropdown">
          <li class="nav-item">
            <a ngbDropdownItem class="nav-link-dropdown" routerLinkActive="active" routerLink="day" (click)="open=false">Day</a>
          </li>
          <li class="nav-item">
            <a ngbDropdownItem class="nav-link-dropdown" routerLinkActive="active" routerLink="week" (click)="open=false">Week</a>
          </li>
          <li class="nav-item">
            <a ngbDropdownItem class="nav-link-dropdown" routerLinkActive="active" routerLink="month" (click)="open=false">Month</a>
          </li>
          <li class="nav-item">
            <a ngbDropdownItem class="nav-link-dropdown" routerLinkActive="active" routerLink="year" (click)="open=false">Year</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="forecast" (click)="open=false">Forecasts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="stats" (click)="open=false">Stats</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{'https://traffic-tracker-817b828649ad.herokuapp.com/api/swagger-ui.html'}}"
           target="_blank">Swagger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{'https://traffic-tracker-817b828649ad.herokuapp.com/graphiql'}}" target="_blank">GraphiQL</a>
      </li>
    </ul>
  </div>
</nav>
