<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>

<div *ngIf="loading && startup">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
      <i style="color: #343a40">~10 secs un-idling ...</i>
    </div>
  </div>
</div>

<div *ngIf="!loading">

  <div class="row btn-toolbar">
    <div class="mr-auto">
      <button type="button" class="btn btn-primary"
              [disabled]="!day.prev" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="!day.next" (click)="onNext()">&gt;
      </button>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn btn-success"
              [disabled]="!day.flights" (click)="onFlights()">
        <i class="fa fa-plane"></i>
      </button>
      <button type="button" class="btn btn-success"
              [disabled]="day._links.week === undefined" (click)="onWeek()">Week
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>{{day.date | date :'EE, dd.MM.yy'}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [chartType]="chartType"
                [labels]="chartLabels"
                [datasets]="chartData"
                [options]="chartOptions">
        </canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Total</th>
            <th>Avg altitude</th>
            <th>Avg speed</th>
            <th *ngIf="windDisplay">Wind speed</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{day.total}}</td>
            <td>{{day.avg_altitude}} m</td>
            <td>{{day.avg_speed}} km/h</td>
            <td *ngIf="windDisplay">{{day.wind_speed}} km/h</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="day.airports.length > 0">
    <app-airports [departures]="day.departures" [airports]="day.airports" [subHeadline]="false"></app-airports>
  </div>

  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>

</div>
