<div *ngIf="!loading && !error">
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary"
              [disabled]="!day.prev" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="!day.next" (click)="onNext()">&gt;
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-success"
              [disabled]="!day.flights" (click)="onFlights()">
        <fa-icon [icon]="planeIcon"></fa-icon>
      </button>
      <button type="button" class="btn btn-success"
              [disabled]="day._links.week === undefined" (click)="onWeek()">Week
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h3>{{day.date | date :'EE, dd.MM.yy'}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas baseChart class="chart"
              [data]="chartData"
              [options]="chartOptions"
              [type]="chartType"
      ></canvas>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Total</th>
            <th>Avg altitude</th>
            <th>Avg speed</th>
            <th *ngIf="windDisplay">Wind speed</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{day.total}}</td>
            <td>{{day.avg_altitude}} m</td>
            <td>{{day.avg_speed}} km/h</td>
            <td *ngIf="windDisplay">{{day.wind_speed}} km/h</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="day.airports.length > 0">
    <app-departure [departures]="day.departures" [airports]="day.airports" [subHeadline]="false"></app-departure>
  </div>
  <app-footer></app-footer>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>
