<div *ngIf="!loading">
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary"
              [disabled]="!month.prev" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="!month.next" (click)="onNext()">&gt;
      </button>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn btn-success"
              [disabled]="month._links.weeks === undefined" (click)="onWeeks()">Weeks
      </button>
      <button type="button" class="btn btn-success"
              [disabled]="month._links.year === undefined" (click)="onYear()">Year
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h3>{{month.start_date | date :'MMMM yyyy'}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas baseChart class="chart" width="600" height="500"
              [data]="chartData"
              [options]="chartOptions"
              [type]="chartType"
      ></canvas>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Total</th>
            <th>23:00-0:00h</th>
            <th>0:00-5:45h</th>
            <th>days &lt; 30 <fa-icon [icon]="planeIcon"></fa-icon></th>
            <th>Avg altitude</th>
            <th>Avg speed</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{month.total}}</td>
            <td>{{month.flights_23}}</td>
            <td>{{month.flights_0}}</td>
            <td>{{month.days_with_less_than_thirty_flights}}%</td>
            <td>{{month.avg_altitude}} m</td>
            <td>{{month.avg_speed}} km/h</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="month.airports.length > 0">
    <app-departure [departures]="month.departures" [airports]="month.airports"
                  [subHeadline]="checkSubHeadline()"></app-departure>
  </div>
  <app-footer></app-footer>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>
