<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>

<div *ngIf="!loading">

  <div class="row btn-toolbar">
    <div class="mr-auto">
      <button type="button" class="btn btn-primary"
              [disabled]="flights._links.prev === undefined" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="flights._links.next === undefined" (click)="onNext()">&gt;
      </button>
      <button type="button" class="btn btn-primary"
              [hidden]="flights._links.last === undefined"
              [disabled]="flights._links.last !== undefined &&
              flights._links.self.href === flights._links.last.href" (click)="onLast()">
        {{flights.page.totalPages}}
      </button>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn btn-success" (click)="onBack()">Back
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>
        {{flights._embedded.flightDtoes[0].icao_24}}
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Callsign</th>
            <th>Airline</th>
            <th>Departure</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flight of flights._embedded.flightDtoes">
            <td class="table-link" (click)="onDay(flight.date)">
              <a>{{flight.date_time | date: 'dd.MM.yy'}}</a>
            </td>
            <td>{{flight.date_time | date: 'HH:mm'}}</td>
            <td>{{flight.callsign}}</td>
            <td class="table-link" (click)="onAirline(flight.airline_icao)">
              {{flight.airline_name ? flight.airline_name : flight.airline_icao}}
            </td>
            <ng-container *ngIf="checkDate(flight.date); else before_departure_start_date">
              <td class="table-link" *ngIf="flight.departure_icao; else no_airport"
                  (click)="onAirport(flight.departure_icao)">
                {{flight.departure_name ? flight.departure_name : flight.departure_icao}}
              </td>
              <ng-template #no_airport>
                <td>{{"Unknown"}}</td>
              </ng-template>
            </ng-container>
            <ng-template #before_departure_start_date>
              <td></td>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-page-size (pageSizeInput)="onInput($event)"></app-page-size>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>

</div>
