<div *ngIf="!loading">
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary"
              [disabled]="!week.prev" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="!week.next" (click)="onNext()">&gt;
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-success"
              [disabled]="week._links.days === undefined" (click)="onDays()">Days
      </button>
      <button type="button" class="btn btn-success"
              [disabled]="week._links.month === undefined" (click)="onMonth()">Month
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h3>{{week.start_date | date :'dd.MM.'}} - {{week.end_date | date :'dd.MM.yy'}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas baseChart class="chart"
              [data]="chartData"
              [options]="chartOptions"
              [type]="chartType"
      ></canvas>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Total</th>
            <th>23:00-0:00h</th>
            <th>0:00-5:45h</th>
            <th>Avg altitude</th>
            <th>Avg speed</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{week.total}}</td>
            <td>{{week.flights_23}}</td>
            <td>{{week.flights_0}}</td>
            <td>{{week.avg_altitude}} m</td>
            <td>{{week.avg_speed}} km/h</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="week.airports.length > 0">
    <app-departure [departures]="week.departures" [airports]="week.airports"
                   [subHeadline]="checkSubHeadline()"></app-departure>
  </div>
  <app-footer></app-footer>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>
