.table-link {
  cursor: pointer;
  color: #0069d9;
  text-decoration: none;
}

.table-link:hover {
  color: purple;
  text-decoration: underline;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
  max-width: 80px;
}

small{
  margin-left: 10px;
}
