<!--suppress AngularUndefinedTag -->
<div *ngIf="!loading">
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary"
              [disabled]="page.pageNumber === 0" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="page.pageNumber === page.totalPages - 1" (click)="onNext()">&gt;
      </button>
      <button type="button" class="btn btn-primary"
              [hidden]="page.totalPages === 1"
              [disabled]="page.pageNumber === page.totalPages - 1" (click)="onLast()">
        {{page.totalPages}}
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="onBack()">Back
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <ng-container>
        <h3 *ngIf="airport.name !== undefined; else no_name">{{airport.name}} ({{airport.icao}})</h3>
        <ng-template #no_name>
          <h3>{{airport.icao}}</h3>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Airline</th>
            <th>Plane</th>
            <th *ngIf="photoInfo">Photo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flight of page.content">
            <td class="row-plane" (click)="onDay(flight.date)">
              <div class="table-link" (click)="onDay(flight.date)">{{flight.date | date: 'dd.MM.yy'}}</div>
            </td>
            <td>{{flight.time | slice:0:8}}</td>
            <td>
              <div class="table-link" (click)="onAirline(flight.airline.icao)">
                {{flight.airline.name !== undefined ? flight.airline.name : flight.airline.icao}}
              </div>
            </td>
            <td class="table-link" (click)="onPlane(flight.plane.icao)">{{flight.plane.icao}}</td>
            <ng-container *ngIf="photoInfo">
              <td *ngIf="flight.photo; else no_photo" (click)="onPhoto(flight)" class="table-link">
                {{flight.callsign}}
              </td>
              <ng-template #no_photo>
                <td></td>
              </ng-template>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer navbar-bottom">
    <form id="page-size" (ngSubmit)="onFetch()" #form="ngForm">
      <label for="pageSize">Page size:</label>
      <input id="pageSize" type="number" min="5" max="50" name="pageSize" [ngModel]="20">
      <button type="submit" class="btn btn-success">Fetch</button>
    </form>
  </footer>
  <app-footer></app-footer>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>
