<div *ngIf="!loading">
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary"
              [disabled]="!year.prev" (click)="onPrev()">&lt;
      </button>
      <button type="button" class="btn btn-primary"
              [disabled]="!year.next" (click)="onNext()">&gt;
      </button>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn btn-success"
              [disabled]="year._links.months === undefined" (click)="onMonths()"> Months
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h3>{{year.start_date | date :'yyyy'}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas baseChart class="chart" width="600" height="500"
              [data]="chartData"
              [options]="chartOptions"
              [type]="chartType"
      ></canvas>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Total</th>
            <th>23:00-0:00h</th>
            <th>0:00-5:45h</th>
            <th>days &lt; 30 <i class="fa fa-plane"></i></th>
            <th>Avg altitude</th>
            <th>Avg speed</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{year.total}}</td>
            <td>{{year.flights_23}}</td>
            <td>{{year.flights_0}}</td>
            <td>{{year.days_with_less_than_thirty_flights}}%</td>
            <td>{{year.avg_altitude}} m</td>
            <td>{{year.avg_speed}} km/h</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="year.airports.length > 0">
    <app-departure [departures]="year.departures" [airports]="year.airports"
                  [subHeadline]="checkSubHeadline()"></app-departure>
  </div>
  <app-footer></app-footer>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-error [message]="errorMessage"></app-error>
</div>
