<div class="container" *ngIf="!loading">

  <br>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>
        Tracks planes to <strong>DUS</strong> airport arriving from the east -
        <strong>0{{minDate.day}}.0{{minDate.month}}.{{minDate.year}}-09.09.2021</strong>.
        <i>Departure airports: {{startDepartures| date :'dd.MM.yyyy'}}-09.09.2021.</i>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <ngb-datepicker [(ngModel)]="model"
                      [minDate]="minDate"
                      [maxDate]="maxDate"></ngb-datepicker>
    </div>
  </div>

  <br>
  <div class="row btn-toolbar">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="onClick()">Choose Day</button>
    </div>
  </div>

</div>
