<div class="container" *ngIf="!loading">

  <br>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>
        Tracks flights to <strong>DUS</strong> airport landing from the east
        <strong>since 0{{minDate.day}}.0{{minDate.month}}.{{minDate.year}}</strong>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <!--suppress TypeScriptUnresolvedVariable -->
      <ngb-datepicker [(ngModel)]="model"
                      [minDate]="minDate"
                      [maxDate]="maxDate"
                      [navigation]="arrows"
                      [markDisabled]="isEnabled"
                      [showWeekNumbers]="true">
      </ngb-datepicker>
    </div>
  </div>

  <br>
  <div class="row btn-toolbar">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="onDay()">Choose Day</button>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>
        Years:
        <span *ngFor="let year of years; let i = index">
          <a class="link" (click)="onYear(year)">{{year}}</a>
          <span *ngIf="i != years.length - 1"> | </span>
        </span>
      </p>
    </div>
  </div>

</div>
